button {
	margin: 4px;
}

input {
	margin: 4px;
	width: 50%;
}

body {
	background: hsl(114, 56%, 77%);
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.pornimage {
	object-fit: contain;
	/*width: 100%;
	height: 100%;*/
	margin:-2px;
}

.porncontainer {
	margin: 0px;
	padding: 0px;
	width: 100vw;
	/*position: absolute;
	left: 0; 
	right: 0; 
	margin-inline: auto; 
	width: fit-content;*/

	-webkit-transition: transform 1s, opacity 1s;
	-moz-transition: transform 1s, opacity 1s;
	-o-transition: transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	opacity: 1;
	transform: translate(0, 0);

	display: flex;
	align-items: stretch;
}

.pornpadding {
	flex: 1;
}

.porncontainer.left {
	transform: translate(-100vw, 30vh) rotate(-15deg);
	opacity: 0;
}

.porncontainer.right {
	transform: translate(100vw, 30vh) rotate(15deg);
	opacity: 0;
}

.pornimage {
	flex: 0;
}

.pornimage.rule34 {
	border: 2px solid green;
}

.pornimage.danbooru {
	border: 2px solid brown;
}

.pornimage.gelbooru {
	border: 2px solid blue;
}

#box {
	display: flex;
	flex-flow: column;
	width:100vw;
	height:100vh;
}

#ui {
	flex: 0 1 auto;
	width: 100vw;
	margin: 0px;
	padding: 0px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#porn {
	position:fixed;
	flex: 1 1 auto;
	top: 10vh;
	width: 100vw;
	height: 85vh;
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: stretch;
}

#porn2 {
	position:fixed;
	flex: 1 1 auto;
	top: 10vh;
	width: 100vw;
	height: 85vh;
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: stretch;
}

#footer {
	flex: 0 1 auto;
	width: 100vw;
	height: 20px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	justify-content: center;
	align-items: center;
}
